<section class="row-fluid">
  <div class="span12">
    <h1>Guests</h1>
  </div>
  <div class="center stats">
    <div class="span3">
      <h2><%= @guests.count %></h2>
      <p>Guests Invited</p>
    </div>
    <div class="span3">
      <h2>
        <%= @guests.where(:rsvp_wedding => true).count %>
      </h2>
      <p>RSVP'd To Wedding</p>
    </div>
    <div class="span3">
      <h2>
        <%= @guests.going_to_reception.where(:rsvp_reception => true).count %>/<%= @guests.going_to_reception.count %>
      </h2>
      <p>RSVP'd To Reception</p>
    </div>
    <div class="span3">
      <h2>
        <%= @guests.where(:rsvp_bbq => true).count %></h2>
      <p>RSVP'd To BBQ</p>
    </div>
  </div>
</section>
<section class="row-fluid">
  <div class="span12">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th>Guest Name(s)</th>
          <th>Email</th>
          <th>Address</th>
          <th>Reception</th>
          <th style="width:75px;">W/R/B</th>
        </tr>
      </thead>
      <tbody>
        <% @guests.each do |guest| %>
          <%= content_tag_for :tr, guest do %>
            <td><%= guest.name %></td>
            <td><%= mail_to guest.email %></td>
            <td><%= guest.address %></td>
            <td>
              <%= form_for [:admin, guest], remote: true do |f| %>
                <%= f.hidden_field :going_to_reception, value: !guest.going_to_reception? %>
                <%= f.submit (guest.going_to_reception ? "Invited" : "Not invited"),
                class: "btn btn-#{guest.going_to_reception ? 'success' : 'danger'}", 
                style: "width: 100px", 
                title: "Click to #{guest.going_to_reception ? 'uninvite' : 'invite'}",
                %>
              <% end %>
            </td>
            <td style="text-align: center;">
              <p>
              <% if guest.rsvp_wedding.nil? %>
                <small>Waiting</small>
              <% else %>
                <%= tristateboolean guest.rsvp_wedding %> / 
                <%= tristateboolean guest.rsvp_reception %> /
                <%= tristateboolean guest.rsvp_bbq %> 
              <% end %>
              </p>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
<section class="row-fluid">
  <div class="span12">
    <h1>Add new guest</h1>
    <%= simple_form_for Guest.new, :url=>admin_guests_path, :html => {:class => "form-inline"} do |f| %>
      <%= f.input_field :name, :placeholder => "Name" %>
      <%= f.input_field :email, :placeholder => "Email" %>
      <%= f.submit "Create", :class => 'btn btn-primary' %>
    <% end %>
  </div>
</section>