<!DOCTYPE html>
<html lang="en" class="home">
<head>
  <title>Chelsea and Nick</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="a6TKCFSIy0oiuUgQOpCbsiG-JQbKHzaRP0TqNCHLwQw" />
</head>
<body>
<% if current_guest %>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="#">Nick &amp; Chelsea 2013</a>
        <ul class="nav">
          <%= nav_link "Home", root_path %>
          <%= nav_link "RSVP", rsvp_path %>
          <%= nav_link "Accommodation", accommodation_path %>
          <%= nav_link "Gift Register", gifts_path %>
        </ul>
        <ul class="nav pull-right">
          <li title="<%= current_guest.name %>">
            <p class="navbar-text">
              <%= truncate current_guest.name, length: 35 %>
            </p>
          </li>
          <li class="divider-vertical"></li>
          <li>
            <%= link_to session_path, :action => 'destroy', :method => 'delete' do %>
              <i class="icon-off icon-white"></i> Logout
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="container">


  <% if flash[:error] %>
    <section class="row-fluid">
      <div class="span12 center">
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= flash[:error] %>
        </div>
      </div>
    </section>
  <% end %>

  <% if flash[:notice] %>
    <section class="row-fluid">
      <div class="span12 center">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <%= flash[:notice] %>
        </div>
      </div>
    </section>
  <% end %>

  <div class="row">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
