<!DOCTYPE html>
<html lang="en" class="home">
<head>
  <title>Chelsea and Nick</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_guest %>
  <div class="navbar navbar row">
    <div class="navbar-inner">
      <div class="container">
        <div class="span12">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="#">Nick &amp; Chelsea 2013</a>

          <!-- Everything you want hidden at 940px or less, place within here -->
          <div class="nav-collapse">
            <ul class="nav">
              <%= nav_link "Home", root_path %>
              <%= nav_link "RSVP", rsvp_path %>
              <%= nav_link "Accommodation", "" %>
              <%= nav_link "Gift Registry", "" %>
            </ul>
            <ul class="nav pull-right">
              <li>
                <%= link_to 'Logout', session_path, :action => 'destroy', :method => 'delete' %> 
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="container">
  <div class="row">
    <div class="span12">
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
